.apropos .collapse button {
    width:100%;
    display:flex;
    align-items: center;
    height: 47px;
    background-color:#FF6060 ;
    color: white;
    border:none;
    border-radius: 5px;
    padding-right: 18px; 
    padding-left: 16px;
}

.apropos .collapse{ 
    position :relative;
    margin:31px 209px 31px 208px;
    font-size: 24px;   
}
.apropos .collapse h2{
    font-family: 'Montserrat', sans-serif;
    font-size:24px;
    font-weight: 500; 
}

.apropos .collapse p{
    background: #F7F7F7;
    padding:27px 27px 19px 18px;
    font-weight: 400;
    font-size:24px;
    border-radius: 5px;
    line-height:34px ;
    margin-top: 0;
}

.apropos .collapse img{
    position:absolute;
    right:16px;
}

.apropos .footer{
 margin-top:725px;
}

@media screen and (max-width:900px) {
    .apropos{
        display: flex;
        flex-direction: column;
    }

    .apropos .homebanner{
        height: 223px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .apropos .homepicture{
        height: 233px;
    }

    .apropos .collapse{ 
        margin-bottom: 0;
        margin-left: 20px;
        margin-top:20px;
        margin-right: 20px;
    }

    .apropos .collapse h2{
        font-size: 13px; 
    }

    .apropos .collapse img{
        width:16px;
    }

    .apropos .collapse button {
        height: 30px;

    }

    .apropos .collapse p{
        font-size: 12px;
        Line-height:17px;
        padding:23px 7px 52px 12px;
    }

    .apropos .footer{
        margin-top:500px;
       }
 
}
