.carrousel{
    margin:25px 100px 30px 100px;
}

.slider-content{
    position:relative;
}

.carrousel .logementpicture{
    object-fit: cover;
    width: 100%;
    height:415px;
    border-radius: 25px;   
}

.carrousel button{
    position :absolute;
    background-color: transparent;
    border:none;
    bottom:40%;
 }

 .carrousel .btn-back{
    left:24px;
 }

 .carrousel .btn-forward{
   right:24px;
 }

 .carrousel .picturenumber{
    position:absolute;
    left:50%;
    bottom:30px;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
 }

 @media screen and (max-width:900px) {
    .carrousel{
        margin: 10px 20px 15px 20px;
        border-radius: 10px;
    }
    
    .carrousel .logementpicture{
        height:255px;
        border-radius: 10px;
    }
    
    .carrousel img{
        width: 12px;
        height:20px;
        
    }
    
    .carrousel .picturenumber{
        display:none;
    }

    .carrousel button{
        bottom:50%;
    }

    .carrousel .btn-back{
        left:6px;
     }

     .carrousel .btn-forward{
        right: 6px;
      }
 }