.error404{
    display:flex;
    flex-direction: column;
    align-items: center;   
}

.code404{
    font-weight: 700;
    font-size: 288px;
    margin-top:150px;
}

.oups{
    font-size: 36px;
    margin-top:70px;
}

.pagereturn{
    font-size: 18px;
    margin-top: 180px;
    margin-bottom:159px;
}

.error404 a{
    text-decoration: none;
    color:#FF6060;
}

.error404 a:hover{
    text-decoration: underline;
}



