.fichelogement .lodge-info{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    position:relative;
    margin:0 100px 0 100px;
    font-size:18px;
}

.lodge-info .title{
    font-size: 36px;
    height:51px;
    width:100%;
}

.lodge-info .location{
    height:26px;
    margin-bottom: 20px;
    width:100%;
}

.lodge-info .host{
    display:flex;
    align-items: center;
    position:absolute;
    right:0px;
    top:0px;
    margin-left: 20px;
}

.lodge-info .host-name{
    margin-right: 10px;
    width:93px;
    height:52px;
}

.lodge-info .host-picture{
    width:64px;
    height:64px;
    border-radius:50%;
}

.stars-content{
    position:absolute;
    right:0;
    top:90px;
}

.stars-content img{
    width:30px;
    height:30px;
    margin-left:10px;
}

.lodge-info .tag{
    font-size: 14px;
    background-color: #FF6060;
    color:white;
    border-radius: 10px;
    text-align: center;
    padding:5px 30px;
    margin-right:10px ;
    height: max-content;
}

.lodge-info .tags-content{
    display:flex;
    margin-bottom:24px;
}

.fichelogement .collapses-content{
    display: flex;
    margin-left: 100px;
}

.fichelogement .collapse{
    width:100%;
    display:flex;
    flex-direction: column;
    padding-right: 100px; 
}

.fichelogement .collapse button{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#FF6060 ;
    color: white;
    border:none;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 12px;  
}

.fichelogement .collapse button h2{
    font-weight: 500;
    font-size: 18px;
}

.fichelogement .detail{
    height: 250px;
    background: #F7F7F7;
    border-radius: 10px;
    margin: 0;
    padding:40px 12px 53px 20px ;
    line-height: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.fichelogement .detail ul{
    padding:0;
    margin:0;
    line-height: 0;
    line-height:25px; 
}

.fichelogement .detail p{
    margin:0;
}

.fichelogement .footer{
    margin-top: 600px;
}

@media  screen and (max-width:1340px) {
    .lodge-info .title{
        width:75%;
        height:max-content;
    }
}
 
@media screen and (max-width:900px){

    .fichelogement .lodge-info{
        margin-left: 20px;
        margin-right: 20px;
    }

    .lodge-info .title{
        font-size: 18px;
        height:40px;
        margin-bottom: 10px; 
    }

    .lodge-info .location{
        font-size: 14px;
        height:22px;
        margin-bottom: 10px;
    }

    .lodge-info .tag{
        font-size: 10px;
        padding-right:20px;
        padding-left: 20px;
        border-radius: 5px;
        margin-top: 0;
    }

    .lodge-info .host{
        right:0;
        top:125px;
     }

    .lodge-info .host-name{
        font-size: 12px;
        text-align: center;
        width:40px;
        height:33px;
        margin-right: 20px;
    }
    
    .lodge-info .host-picture{
        width:32px;
        height:32px;
    }

    .stars-content{
        position:initial;
        margin-bottom: 24px;
     }

    .stars-content img{
        width:15px;
        height:15px;
    }

    .fichelogement .collapses-content{
        margin-left: 20px;
        margin-right: 20px;
        flex-direction: column;
    }

    .fichelogement .collapse{
        padding-right: 0;
        margin-bottom: 20px; 
    }

    .fichelogement .collapse button{
        height:30px;
    }

    .fichelogement .collapse button h2{
        font-size: 13px;
    }

    .fichelogement .collapse button img{
        width:15px;
    }

    .fichelogement .detail{
        padding-top: 20px;
        padding-bottom: 0;
        height:auto;
    }

    .fichelogement .detail p {
       font-size: 12px; 
    }

    .fichelogement .detail ul{
        font-size: 12px;
    }

    .fichelogement .footer{
        margin-top: 350px;
    }
}

@media screen and (max-width:410px) {

    .lodge-info .tags-content{
        display: flex;
        flex-wrap: wrap;
    }

    .lodge-info .host{
        margin-top: 10px;
    }

}





