.header{
   display:flex;
   justify-content:space-between;
   margin-left:100px;
   margin-right: 100px;
   margin-top: 40px;
}

.header .redlogo {
   height:68px;
   width:210px;
}

@media screen and (max-width: 900px) {
   .header .redlogo{
      height:47px;
      width:145px;
   }
   
   .header{
      margin:20px;
   }

   

}

